<ul>✌️</ul>
  <p class="small text-light m0">&copy; Squd.me {{ dateFormat "2006" now }},<a
      class="regular" href="https://squd.me" rel="noopener" target="_blank"> crea tu perfil </a>ahora mismo.</p>
  <ul class="list-reset list-inline small">
    {{ range .Site.Params.social }}
    <li class="list-inline-item pt1 px1">
      <a class="no-underline" href="{{ .url }}" target="_blank" rel="noopener">
        <img src="{{ .Site.BaseURL }}/img/icons/{{ .title | lower }}.svg" class="icon" alt="{{ .title }}" title="{{ .title }}" style="width: 20px;">
      </a>
    </li>
    {{ end }}
  </ul>